.container-fluid a {
  color: white;
}

.container {
  text-align: center;
}

.carousel-container {
  max-width: 100%;
  margin: auto;
}

.carousel {
  position: relative;
  max-width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #444444;
  color: #333;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-button.left {
  left: 0;
}

.carousel-button.right {
  right: 0;
}

.carousel img {
  margin: auto;
}


footer {
  position: relative;
  bottom: 0;
}

footer p {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}


body {
  background: linear-gradient(to bottom right, #222222, #444444);
  transition: background-color 0.5s ease;
}

body:hover {
  background-color: #444444;
}

h1 {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

p {
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

img {
  width: 100%;
  height: 400px;
}